@import "/styles/abstracts/variables";

.navbar {
  position: relative;
  z-index: 1;
  background-color: $white;
  border-bottom: 1px solid #eaeaea;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1400px;
  padding: 15px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
  }
}

.collapse_icon {
  display: none;

  @media screen and (max-width: 768px) {
    display: inline;
  }
}

.logo {
  margin: 0;
}

.nav_menu {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;

  &__item {
    transition: all 0.3ms linear;
    padding: 10px 30px;

    &:hover {
      color: $primary-color;
    }
  }

  @media screen and (max-width: 768px) {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: $white;

    &__item {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
