@import "/styles/abstracts/variables";

.container {
  padding: 15px;
  p {
    font-size: $font-size-xxl;
  }
}

.customFooter {
  :global {
    .title {
      color: #000;
    }
  }
}

.rootChild {
  :global {
    .child {
      &__title {
        color: blue;
      }
    }
  }
}
